*,html,body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}
body{
    background-color: black!important;
}
#background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}



.dropdown-item{
    background: transparent !important;
}

.dropdown-item:hover{
    background-color: white !important;
    opacity: 20%;
    color: black !important;
}

.article{
    background: black;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
z-index: 10}

.button {
    position: relative;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid white;
    box-shadow: 0 0 60px rgba(256,256,256,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid white;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}



article{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#c3{
    background-image: url("../img/c3.jpg");
}
#c4{
    background-image: url("../img/c4.jpg");
}
#c5{
    background-image: url("../img/c5.jpg");
}
#c6{
    background-image: url("../img/c6.jpg");
}
#c7{
    background-image: url("../img/c7.jpg");
}
#c8{
    background-image: url("../img/c8.jpg");
}
.clink{
    text-decoration: none!important;
    color: white;
    font-weight: 400;
    font-size: 2vw;

}
.main{
    height: 90vh;
    width: 100%;
    max-width: 100%;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: black;
    height: 10vh;
}
form{

    text-align: center;
    max-width: 40%;
    width: 40%;
    border-radius: 2vw;
}
input{
    max-width: 80%;
}
#sss{
    max-width: 100%;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text{
    height: 15vh;
}
#submit{
    margin-bottom:2vw;
}
#imie{
    margin-top: 2vw;
}